<a href="https://colab.research.google.com/github/AlexanderLet/Test_tasks/blob/main/1_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd

# Чтение данных из файла в DataFrame
df = pd.read_csv("Data.csv")

# Вывод первых 3 строк DataFrame
print()
print(df.head(3))

# Подсчет общего количества записей в DataFrame
total_records = len(df)
print()
print("Общее количество записей:", total_records)

# Вывод всех строк, где значение в столбце "age" больше 17
df_filtered = df[df["age"] > 17]
print()
print("Строки с возрастом больше 17:")
print(df_filtered)

# Группировка данных по столбцу "gender" и вычисление среднего возраста для каждой группы
average_age_by_gender = df.groupby("gender")["age"].mean()
print()
print("Средний возраст по группам:")
print(average_age_by_gender.reset_index())

   name  age  gender
0  John   25    Male
1  Jane   30  Female
2  Alex   17    Male

Общее количество записей: 5

Строки с возрастом больше 17:
    name  age  gender
0   John   25    Male
1   Jane   30  Female
3  Emily   20  Female
4   Mark   22    Male

Средний возраст по группам:
   gender        age
0  Female  25.000000
1    Male  21.333333